@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
  box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
div{ 
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: blueviolet;
}
input{
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: darkgoldenrod;
  border: none;
  text-align: center;
}
input.focus{
  outline: none;
}
